@page "/customers/create"

@using LoadManagementSystem_LMS_.Models
@using LoadManagementSystem_LMS_.Services

@inject CustomerService CustomerService
@inject NavigationManager Navigation

<PageTitle>Create Customer</PageTitle>

<div class="page-container">

    <div class="page-header">
        <div class="page-title">Create Customer</div>
        <div class="page-subtitle">Add new customer to system</div>
    </div>

    <div class="lms-card">

        <EditForm Model="@customer" OnValidSubmit="Save">

            <DataAnnotationsValidator />

            <!-- CODE -->
            <div class="mb-3 lms-form">
                <label>Customer Code</label>
                <InputText class="form-control"
                           @bind-Value="customer.CustomerCode" />
            </div>

            <!-- NAME -->
            <div class="mb-3 lms-form">
                <label>Name</label>
                <InputText class="form-control"
                           @bind-Value="customer.Name" />
            </div>

            <!-- PHONE -->
            <div class="mb-3 lms-form">
                <label>Phone Number</label>
                <InputText class="form-control"
                           @bind-Value="customer.PhoneNumber" />
            </div>

            <!-- EMAIL -->
            <div class="mb-3 lms-form">
                <label>Email</label>
                <InputText class="form-control"
                           @bind-Value="customer.Email" />
            </div>

            <!-- ADDRESS -->
            <div class="mb-3 lms-form">
                <label>Address</label>
                <InputText class="form-control"
                           @bind-Value="customer.Address" />
            </div>

            <!-- ACTIVE -->
            <div class="form-check mb-3">
                <InputCheckbox class="form-check-input"
                               @bind-Value="customer.IsActive" />
                <label class="form-check-label">
                    Active
                </label>
            </div>

            <!-- BUTTONS -->
            <div class="d-flex gap-2">

                <button type="submit" class="btn btn-add">
                    Save
                </button>

                <a class="btn btn-secondary" href="/customers">
                    Cancel
                </a>

            </div>

        </EditForm>

    </div>

</div>

@code {

    private Customer customer = new();

    private async Task Save()
    {
        await CustomerService.Add(customer);
        Navigation.NavigateTo("/customers");
    }
}