@page "/vehicles/create"
@attribute [Authorize]
@using LoadManagementSystem_LMS_.Models
@using LoadManagementSystem_LMS_.Services
@using Microsoft.AspNetCore.Authorization

@inject VehicleService VehicleService
@inject NavigationManager Navigation

<PageTitle>Create Vehicle</PageTitle>

<div class="page-container">

    <div class="page-header">
        <div class="page-title">Create Vehicle</div>
        <div class="page-subtitle">Add a new vehicle to the system</div>
    </div>

    <EditForm Model="@vehicle" OnValidSubmit="Save">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="lms-card lms-form">

            <!-- Vehicle Code -->
            <div class="mb-3">
                <label>Vehicle Code</label>
                <InputText class="form-control" @bind-Value="vehicle.VehicleCode" />
            </div>

            <!-- Plate -->
            <div class="mb-3">
                <label>Plate Number</label>
                <InputText class="form-control" @bind-Value="vehicle.PlateNumber" />
            </div>

            <!-- Model -->
            <div class="mb-3">
                <label>Model</label>
                <InputText class="form-control" @bind-Value="vehicle.Model" />
            </div>

            <!-- Type -->
            <div class="mb-3">
                <label>Vehicle Type</label>
                <InputText class="form-control" @bind-Value="vehicle.VehicleType" />
            </div>

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label>Capacity</label>
                    <InputNumber class="form-control" @bind-Value="vehicle.Capacity" />
                </div>

                <div class="col-md-6 mb-3">
                    <label>Manufacture Year</label>
                    <InputNumber class="form-control" @bind-Value="vehicle.ManufactureYear" />
                </div>

            </div>

            <!-- Active -->
            <div class="form-check mb-3">
                <InputCheckbox class="form-check-input"
                               @bind-Value="vehicle.IsActive" />
                <label class="form-check-label">
                    Active Vehicle
                </label>
            </div>

            <!-- Buttons -->
            <div class="d-flex gap-2 mt-3">

                <button type="submit" class="btn btn-add">
                    Save Vehicle
                </button>

                <a class="btn btn-secondary" href="/vehicles">
                    Cancel
                </a>

            </div>

        </div>

    </EditForm>

</div>

@code {

    private Vehicle vehicle = new();

    private async Task Save()
    {
        await VehicleService.Add(vehicle);
        Navigation.NavigateTo("/vehicles");
    }
}